rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Los usuarios pueden leer y escribir en su propio historial.
    match /consultasAforo/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    // Los usuarios pueden crear un nuevo historial si están autenticados
    // y el documento que intentan crear les pertenece.
    match /consultasAforo/{docId} {
        allow create: if request.auth != null && request.resource.data.userId == request.auth.uid
    }
  }
}
